body {
    margin: 0; 
    padding: 0; 
    
}

.top-container {
    background-color: lightpink;
    height: 20vh;
    width: 100%;
    border: 2px solid black;
    padding: 2px;
    box-sizing: border-box;
}

.middle-container {
    height: 35vh;
    width: 100%;
    border: 5px dotted black;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
}

.bottom-container {
    height: 45vh;
    width: 100%;
    border: 5px dotted black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}