* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    margin: 0; 
    padding: 5px;   
}

.top-container {
    background-color: lightpink;
    height: 20%;
    width: 100%;
    border: 2px solid black;
    padding: 2px;
}
.top-text-box {
    background-color: white;
    font-size: x-large;
    height: 15vh;
    width: 75%;
    display: inline-block;
}

.middle-container {
    height: 35%;
    width: 100%;
    border: 5px dotted black; 
    padding: 10px;
    margin: 10px;  
}

.middle-text-container {
    padding-top: 50px;
    font-size: xx-large;
    margin: 10px; 

}
.bottom-container {
    height: 45%;
    width: 100%;
    border: 5px dotted black;
    padding: 10px;
    margin: 10px;
}
.bottom-text-container {
    padding-top: 50px;
    font-size: xx-large;
    margin: 10px;
}